  /* Custom CSS file */


  /* Define a new larger Button */
  .btn-extra_large{
    height:80px;
    line-height:normal;
    font-size:2.5vw;
    padding:20 20px;
    width: 100%;
    border-radius: 25px;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:#0666f4e0;
  }  
